* {
	margin: 0;
	padding: 0;
	font-family: Arial;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	background: green;
}

nav{
	display: inline;
	font-weight: bold;
}

nav .logo{
	 height: 100px;
	 width: 300px;
	 float: left;
}

nav ul{
	list-style: none;
	float: right;
	margin: 0 10px;
	padding: 0;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav ul li a{
	position: relative;
	line-height: 80px;
	color: white;
	padding: 12px 20px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

nav ul li a:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  color: white;
	border-radius: 25px;
	border: 3px solid #00ff00;
}

nav ul li a.active{
  color: white;
	border: 3px solid #00ff00;
}

nav ul li a.cta{
	background-color: #8B0000;
  color: white;
	border-radius: 25px;
}

label #btn,
label #cancel{
	color: white;
	font-size: 30px;
	float: right;
	line-height: 80px;
	margin-right: 30px;
	cursor: pointer;
	display: none;
}
#checkbtn{
	display: none;
}

@media screen and (max-width: 944px){
	nav .logo{
		float: none;
		width: auto;
		height: 100px;
		justify-content: center;
	}
	nav ul li a{
		font-size: 18px;
	}
}
@media screen and (max-width: 860px){
	label #btn{
		display: block;
	}
	nav ul{
		position: fixed;
		 width: 100%;
		 height: 100vh;
		 background: rgba(1,50,32, 0.8);
		 text-align: center;
		 left: -100%;
		 transition: all .5s;
		 z-index: 12;
	}
	nav ul li{
		display: block;
		line-height: 20px;
		margin: 30px 0;
	}
	#checkbtn:checked ~ ul{
		left: 0;
	}
	#checkbtn:checked ~ label #btn{
		display: none;
	}
	#checkbtn:checked ~ label #cancel{
		display: block;
	}
	#styleBox1{
		display: none;
	}
	#homeContainer{
		display: grid;
	  grid-template-columns: 1fr;
	  grid-template-rows: 500px 1fr 1fr 1fr;
	  padding: 0;
	}
}

.cta:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

#homeContainer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4);
  padding: 0;
}

.box1{
	height: 100vh;
	width: 100%;
}

.Image img {
  width: 70%;
  height: 400px;
  float:left;
	margin-right:50px;
	margin-left: 100px;
}

.responsive h1{
	font-weight: bolder;
	color: #00ff00;
	font-size: 50px;
	font-family: Arial Black;
	display: inline;
	margin-top: 100px;
}

.responsive {
  width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 860px) {
  .Image img{
    width: 50%;
		height: 300px;
    margin-left:50px;
  }
	.responsive{
		grid-template-columns: 50% 50%;
		padding: 20px;
	}
	.responsive h1{
	font-size: 30px;
	}
}

.box1 #styleBox1 li{
	position: absolute;
	list-style: none;
	z-index: -1;
}

.box1 #styleBox1 li:nth-child(1){
	width: 130px;
	height: 100px;
	top: 0;
	left: 0;
	background: #00ff00;
}

.box1 #styleBox1 li:nth-child(2){
	width: 300px;
	height: 100px;
	bottom: 0;
	right: 0;
	background: #00ff00;
}

.box1 #styleBox1 li:nth-child(3){
	width: 150px;
	height: 100px;
	top: 0;
	right: 0;
	border-left: 6px solid #00ff00;
	border-bottom: 6px solid #00ff00;
}

.box1 #styleBox1 li:nth-child(4){
	width: 130px;
	height: 80px;
	top: 0;
	right: 0;
	border-left: 6px solid #00ff00;
	border-bottom: 6px solid #00ff00;
}

.box1 #styleBox1 li:nth-child(5){
	width: 20px;
	height: 20px;
	top: 80px;
	right: 180px;
	background: #00ff00;
	border-radius: 50px;
}

.box2{
	height: 100vh;
	max-width: 100%;
	display: block;
	overflow: hidden;
}

.Image2 img {
  width: 40%;
  height: auto;
  float: right;
	margin: 90px auto 0 20px;
}

.desc{
	margin: 70px 30px auto 100px;
	color: #00ff00;
}

.desc h4{
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
}

.desc p{
	display: inline;
	font-size: 18px;
}

.desc a{
	width: 100px;
 	color: white;
 	border-radius: 15px;
 	padding: 5px 15px;
 	background-color: darkgreen;
}

.desc a:hover{
 background-color: #8B0000;
 color: white;
 border-radius: 15px;
}

@media only screen and (max-width: 860px) {
  .Image2{
    width: 100%;
    margin: 6px 0;
  }
}

.box2 #styleBox2{
	width: 200px;
	height: 100px;
	top: 0;
	right: 0;
	float: right;
	background: #00ff00;
	z-index: -1;
	position: relative;
}

.box2 #styleBox3{
	width: 250px;
	height: 150px;
	bottom: 0;
	left: 0;
	background: #00ff00;
	float: left;
	position: relative;
}

.box3{
	height: 100vh;
	max-width: 100%;
	display: block;
	overflow: hidden;
}

.box3 h1{
	color: #00ff00;
}

.box3 #styleBox4{
	width: 100px;
	height: 50px;
	top: 0;
	left: 0;
	background: #00ff00;
	position: relative;
	float: left;
}

.box3 #styleBox5{
	width: 300px;
	height: 150px;
	bottom: 0;
	right: 0;
	background: #00ff00;
	float: right;
}

.box3 #slider {
   margin: 30px auto;
   height: 100vh auto;
   width: 80%;
   text-align: center;
	 left: 25px;
}

.box3 #slider input[type=radio] {
   display: none;
}

.box3 #slider label {
   cursor:pointer;
   text-decoration: none;
}

.box3 #slides {
   padding: 10px;
   position: relative;
   z-index: 1;
}

@media only screen and (max-width: 860px) {
  #slides{
    width: 100%;
  }
	iframe{
		width: 490px;
		height: 600px;
		overflow: scroll;
	}
}

.box3 #overflow {
   width: 100%;
	 overflow: hidden;
}
.box3 #slide1:checked ~ #slides .inner {
   margin-left: 0;
}
.box3 #slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
/*
.box3 #slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
.box3 #slide4:checked ~ #slides .inner {
   margin-left: -300%;
}*/
.box3 #slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   height: 300px;
}
.box3 #slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 140%;
	 color: white;
}

.box3 #slides .slide_1 {
}
.box3 #slides .slide_2 {
}

.box3 #controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
.box3 #controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
.box3 #controls label:hover {
   opacity: 1;
}

.box3 #bullets {
   text-align: center;
}

.box3 #bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}

.box3 #slide1:checked ~ #bullets label:nth-child(1),
.box3 #slide2:checked ~ #bullets label:nth-child(2){
	background: #00ff00;
}

.box4{
	max-width: 100%;
  height: 100vh;
	display: block;
	overflow: hidden;
}

.box4 #styleBox2{
	width: 200px;
	height: 150px;
	top: 0;
	right: 0;
	float: right;
	background: #00ff00;
}

.box4 #styleBox3{
	width: 250px;
	height: 150px;
	top: 130px;
	left: 0px;
	background: #00ff00;
	float: left;
	position: relative;
}

.box5{
	height: auto;
	width: 100%;
	display: block;
	overflow: hidden;
}

.box5 {
	text-align: center;
	font-weight: bolder;
}

.box5 #styleBox4{
	width: 200px;
	height: 100px;
	top: 0;
	left: 0;
	background: #00ff00;
	position: relative;
	float: left;
}

.box5 #styleBox5{
	width: 300px;
	height: 100px;
	bottom: 0;
	right: 0;
	background: #00ff00;
	float: right;
}

.galleryBox{
	height: auto;
	width: 100%;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	padding: 5px;
}

.galleryImages p{
	font-weight: bold;
	text-align: center;
	color: #00ff00;
}

.galleryImages img{
	width: 50px;
	height: 50px;
}


@media (max-width: 500px) {
	.galleryBox{
		grid-template-columns: repeat(3, 1fr);
	}
}


/*FOOTER*/
.footer{
	width: 100;
	display: block;
	overflow: hidden;
	height: 150px auto;
	padding: 20px;
	box-sizing: border-box;
	background: rgba(0,43,28,0.85);
}

.inner_footer{
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 150% auto;
}

.inner_footer ul{
	list-style: none;
	margin-left: 90px;
	margin-right: 20px;
}

.inner_footer li{
}

.inner_footer p{
	list-style: none;
	margin-left: 150px auto;
	font-size: 13px;
}

.inner_footer .logo_container{
	width: 35%;
	float: left;
	height: 100%;
	display: block;

}

.logo_container a{
	color:white;
}

.inner_footer .logo_container img{
	width: 250px;
	height: auto;
	margin-left: 10px;
}

.inner_footer .footer_third{
	width: calc(21.666666666.7% -20%);
	margin-right: 20px auto;
	float: left;
	height: 100;
}

.inner_footer .footer_third a{
	font-size: 13px;
	margin-right: 30px;
	margin-left: 20px;
}

.inner_footer .footer_third:last-child{
	margin-right: 20px;
}
.inner_footer .footer_third h2{
	font-size: 15px;
	color: white;
	display: block;
	width: 100%;
	margin-bottom: -5px;
}
.inner_footer .footer_third a{
	font-size: 13px;
	font-weight: 200px;
	color: white;
	display: block;
	width: 100%;
	padding-bottom: 9px;
}
.inner_footer .footer_third ul{
	font-size: 13px;
	color: white;
	padding-top: 8px;
	margin-left: 20px;
	margin-top: 110px auto;
}
.inner_footer .footer_third label{
	position: relative;
	margin-left: 20px;
}
.inner_footer .footer_third input[type = "text"]{
	border: none;
	width: auto;
	height: 20px;
	padding: 0 15px;
}
.inner_footer .footer_third button{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: darkgreen;
	color: white;
	height: 20px;
	width: 60px;
}
.centerbox{
	margin:auto;
	width: 70%;
	border: 3px solid inherit;
	padding: 10px;
}
.title{
margin: auto;
width: 70%;
border: 3px solid inherit;
padding: 10px;
background-color: rgba(0,0,0,0.5);
}

.footer a{
	color:white;
}

@viewport{
	zoom:1.0;
	width: extend-to-zoom;
}

@-ms-viewport{
	width:extend-to-zoom;
	zoom: 1.0;
}
